# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/raw/
data/processed/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db